*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    height: 100vh;
    display: flex;
    flex-direction: column;
}


header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
}
.titolo{
    font-size: 2.5rem;
    height: 100%;
    vertical-align: middle;
}
.titolo img{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.gioca{
    font-size: 1.25rem;
    background-color: beige;
}
#difficolta{
    font-size: inherit;
    width: 200px;
    background-color: pink;
    color: white;
}
.btn{
    font-size: inherit;
    padding: 0 .625rem;
    border: 1px solid black;
}

main{
    background-color: darkgreen;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tavolo{
    width: 37.5rem;
    height: 37.5rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.cella{
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cella-10{
    height: calc(100% / 10);
    width: calc(100% / 10);
}
.cella-9{
    width: calc((100% / 9));
    height: calc((100% / 9));
}
.cella-7{
    width: calc(100% / 7);
    height: calc(100% / 7);
}
.cliccato{
    background-color: blue;
    color: white;
}
.bomba{
    background-color: red;
    color: white;
}


footer{
    height: 5rem;
    padding: 0 1.25rem;
    display: flex;
    align-items: center;
}
.punteggio{
    font-size: 1.875rem;
    margin: 0 auto;
}
